<div id="mainView" class="mainView">
    <div id="platformInfoContentContainer" class="platformInfoContentContainer mainContentAnimationFadeIn" tabindex="0">
        <div id="platformInfoBusyLoader" class="busyLoader busyLoaderBorder platformInfoBusyLoader">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
        </div>
        
        <div id="platformInfoContent" class="platformInfoContent">
            <table id="platformInfoTable" class="platformInfoTable">
                <tr>
                    <td class="platformInfoTableText">App name:</td>
                    <td class="platformInfoTableText" id="appName">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">App version:</td>
                    <td class="platformInfoTableText" id="appVersion">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV platform:</td>
                    <td class="platformInfoTableText" id="platformName">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV platform version:</td>
                    <td class="platformInfoTableText" id="platformVersion">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV platform built:</td>
                    <td class="platformInfoTableText" id="platformBuildTime">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV model:</td>
                    <td class="platformInfoTableText" id="tvModel">N/A</td>
                </tr>
            </table>
        </div>

        <div id="clearIconContainer" class="clearIconContainer" tabindex="0">
            <img id="clearIcon" class="clearIcon" src="assets/clear.svg" alt="image/svg+xml" />
        </div>

        <div id="clearMenuContainer" class="clearMenuContainer">
			<div class="clearMenuTitleContainer">
                <img class="clearMenuIcon" src="assets/clear.svg" />
				<div id="deleteConfigurationsText" class="clearMenuTitle"></div>
			</div>

            <div class="clearMenuItems">
                <div id="{{i}}_cm" id="clearMenuItem" class="clearMenuItem" *ngFor="let c of clearMenuItems; let i = index" key="clearMenuItem" tabindex="0">{{c}}</div>
            </div>

            <div id="clearDataConfirmationContainer" class="clearDataConfirmationContainer">
                <div id="confirmationQuestionText" class="confirmationQuestionText"></div>
                <div class="confirmationButtons">
                    <div id="confirmationOkButton" class="okButton" tabindex="0"></div>
                    <div id="confirmationCancelButton" class="cancelButton" tabindex="0"></div>
                </div>
            </div>
        </div>
       
        <div id="copyrightText" class="copyrightText"></div>
    </div>
</div>
