<div id="mainView" class="mainView">
    <div id="platformInfoContentContainer" class="platformInfoContentContainer mainContentAnimationFadeIn" tabindex="0">
        <div id="platformInfoBusyLoader" class="busyLoader platformInfoBusyLoader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <div id="platformInfoContent" class="platformInfoContent">
            <table class="platformInfoTable">
                <tr>
                    <td>App name:</td>
                    <td id="appName">N/A</td>
                </tr>
                <tr>
                    <td>App version:</td>
                    <td id="appVersion">N/A</td>
                </tr>
                <tr>
                    <td>TV platform:</td>
                    <td id="platformName">N/A</td>
                </tr>
                <tr>
                    <td>TV platform version:</td>
                    <td id="platformVersion">N/A</td>
                </tr>
                <tr>
                    <td>TV platform built:</td>
                    <td id="platformBuildTime">N/A</td>
                </tr>
                <tr>
                    <td>TV model:</td>
                    <td id="tvModel">N/A</td>
                </tr>
            </table>
        </div>
    </div>
</div>
