<div id="mainView" class="mainView">
    <div id="platformInfoContentContainer" class="platformInfoContentContainer mainContentAnimationFadeIn" tabindex="0">
        <div id="platformInfoBusyLoader" class="busyLoader busyLoaderBorder platformInfoBusyLoader">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
        </div>
        
        <div id="platformInfoContent" class="platformInfoContent">
            <table id="platformInfoTable" class="platformInfoTable">
                <tr>
                    <td class="platformInfoTableText">App name:</td>
                    <td class="platformInfoTableText" id="appName">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">App version:</td>
                    <td class="platformInfoTableText" id="appVersion">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV platform:</td>
                    <td class="platformInfoTableText" id="platformName">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV platform version:</td>
                    <td class="platformInfoTableText" id="platformVersion">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV platform built:</td>
                    <td class="platformInfoTableText" id="platformBuildTime">N/A</td>
                </tr>
                <tr>
                    <td class="platformInfoTableText">TV model:</td>
                    <td class="platformInfoTableText" id="tvModel">N/A</td>
                </tr>
            </table>
        </div>
       
        <div id="copyrightText" class="copyrightText"></div>
    </div>
</div>
