<div class="mainView">
    <div id="channelInfoContentContainer" class="channelInfoContentContainer mainContentAnimationFadeIn" tabindex="0">
       
        <div id="channelInfoBusyLoader" class="busyLoader busyLoaderBorder channelInfoBusyLoader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div id="channelInfoTextContainer" class="channelInfoTextContainer">

            <div id="localeFi" class="localeText">
                <div class="title">Näin syntyi TV7</div>
                <div class="chapter">Taivas TV7 syntyi vuonna 2003, kun kanavan toimitusjohtaja Martti Ojares koki saaneensa kutsun Jumalalta perustaa Suomeen ensimmäinen kristillinen tv-kanava.</div> 
                <div class="chapter">Ojares oli juuri jäänyt eläkkeelle työstään Sanoma Oy:n varatoimitusjohtaja ja suunnitteli leppoisia eläkevuosia vaimonsa Mirja Ojareksen kanssa. Martti kuitenkin huomasi usein ajattelevansa sitä, kuinka yhteiskunta oli ajautumassa yhä kauemmas kristillisistä arvoista. Hänellä oli niin voimakas sisäinen tarve kertoa evankeliumin sanoma kaikille suomalaisille, ettei hän voinut kulkea kutsunsa ohi. Paras väline olisi tv-kanava, jossa esitettäisiin avoimesti kristillisiä ohjelmia ja joka näkyisi jokaisessa suomalaisessa kodissa. Martti kiteytti suunnitelmansa MTV3:n pääuutislähetyksessä toteamalla: ”TV7 on kanava, jossa Jeesus Kristus on Herra.”</div> 
                <div class="chapter">Ensimmäinen ohjelma, kahden tunnin suora lähetys, käynnistyi 15.12.2003 klo 18. Ohjelman jälkeen esitettiin ensimmäinen osa kolmiosaisesta, vuonna 1979 ilmestyneestä elokuvasta Jeesus. Jo toisena iltana kiitollinen äiti kertoi Ojaresten pariskunnalle, että hänen poikansa oli löytänyt Jumalan katsoessaan Jeesus-elokuvaa. Vaikka kulunut vuosi kanavaa valmistellessa oli vaatinut monta uskonaskelta, sinä iltana toteutui Martin näky kristillisen kanavan tarpeellisuudesta.</div> 
                <div class="chapter">Sittemmin tuhannet ihmiset ovat kertoneet uskoontuloista, parantumisista, rukousvastauksista ja rohkaisun sanoista, joita he ovat löytäneet TV7:n ohjelmien kautta. Vuosien jälkeen kanavan näky on edelleen sama: viedä ilosanoma Jumalan armosta ja Jeesuksen ristinkuolemasta kaikkialle maailmaan. Suomen lisäksi kanava on laajentunut myös naapurimaihin.</div> 
                <div class="chapter">Ensimmäinen rinnakkaiskanava, vironkielinen Taevas TV7 perustettiin vuonna 2009. Kanava näkyy internetissä sekä Viron kaapelitalouksissa. Vuonna 2013 perustettu ruotsinkielinen Himlen TV7 näkyy internetissä, Apple TV:n ja Chromecastin kautta sekä kaapeli- ja IPTV-verkoissa Suomen ruotsinkielisillä alueilla. Venäjänkielinen Nebesa TV7 perustettiin loppuvuodesta 2016 ja se näkyy internetissä. Suomenkielisen Taivas TV7:n rinnalla on lisäksi suomenkielinen nettikanava TV7 Plus, joka on erikoistunut nuorten ohjelmiin ja suoriin lähetyksiin. Se perustettiin vuonna 2012.</div> 
                <div class="chapter">TV7:llä on Jerusalemissa ulkomaantoimitus, joka tuottaa päivittäistä TV7 Israel News -uutislähetystä sekä Jerusalem studio -ajankohtaisohjelmaa. Ukrainan Poltavassa sijaitsevassa äänitysstudiossa käännetään ja äänitetään TV7:n ohjelmia venäjän kielelle.</div> 
                
                <div class="title">Miksi TV7-kanava on olemassa?</div>
                <div class="chapter">Kanava toteuttaa Jeesuksen antamaa lähetyskäskyä (Matt. 28:16-20) viedä ilosanoma kaikkeen maailmaan. Taivas TV7:n toiminnan perustana on Jumalan sana. Kanava sitoutuu Apostoliseen uskontunnustukseen.</div> 
                <div class="chapter">Kanavan talous perustuu kristilliseettisesti kestävään taloudenhoitoon (2. Moos. 20:2-17).</div> 
                <div class="chapter">Kanavan tavoitteena on myös saattaa yhteen kristillisen kentän toimijoita. Eri kristillisistä yhteisöistä tulevat kristityt voivat oppia toisiltaan ja löytää vahvemman yhteyden keskenään (Matt. 22:36-40).</div> 

                <div class="title">Miten TV-ohjelmat valitaan?</div>
                <div class="chapter">TV7:n ohjelmistosta päättää viikoittain kokoontuva ohjelmatiimi. Siihen kuuluvat TV7:n toimitusjohtaja ja toiminnanjohtaja sekä kanavan tuottajia ja toimittajia. Ohjelmiston sisällöstä vastaa kanavan toimitusjohtaja.</div> 
                <div class="chapter">TV7 pyrkii esittämään monipuolista ja kansainvälistä kristillistä sisältöä. Ohjelmisto koostuu mm. lastenohjelmista, henkilökohtaisista todistuksista, elokuvista, haastatteluista, opetusohjelmista, musiikista, ajankohtaisohjelmista ja suorista esirukousohjelmista.</div> 
            </div>

            <div id="localeEt" class="localeText">
                <div class="title">Kes me oleme?</div>
                <div class="chapter">Taevas TV7 on kristlik telekanal, mille eesmärgiks on edastada head sõnumit Jeesusest Kristusest ja mille väärtused põhinevad Jumala Sõnal, Piiblil.</div> 
                <div class="chapter">TV7 edastab mitmekülgset saateprogrammi kogu perele. Telekanali rahastamine põhineb vabatahtlikel annetustel ning reklaami- ja eetriaja müügil. Telekanali 6-tunnine programm algab kell 17.00 ning on kordusena eetris öösel ja järgmisel päeval.</div> 
                <div class="chapter">Kanali lipulaevaks on igapäevane uudistesaade “Iisraeli uudised” ja otse-eetri palvesaated “Taevas kuuleb” ja “Suur palveõhtu”, lisaks edastame igal pühapäeval kell 11.00 erinevate koguduste Jumalateenistusi.</div> 
                <div class="chapter">TV7 Eesti toimetuse värskemad saated on järgmised:</div> 
                <ul class="bulletlist">
                    <li class="chapter bulletitem">arutlussaated “Pastorid areenil”</li>
                    <li class="chapter bulletitem">õpetussaated “Ärka!”, “Eluallikal”, “Raha?“, “Kompass – vaimsed seadused“, “Elu koos Püha Vaimuga“, “Sõna vägi” ja “Tervenduskool”</li>
                    <li class="chapter bulletitem">päevakajalised saated “TV7 jälgedes”, "Elu kaitseks”, "Kuningriigi sõnumid” ja “Külalised meilt ja mujalt”</li>
                    <li class="chapter bulletitem">portreesaated "Jumala jooksutüdrukud”, “Muutus” ja “Kiri sinule”</li>
                    <li class="chapter bulletitem">dokumentaalsaade “Viljakandjad”, "Minevikust uude ellu”</li>
                    <li class="chapter bulletitem">noortesaade “3D-vaade“</li>
                    <li class="chapter bulletitem">lastesaated “Laulumaa”, "Pildipiibel”, “Lastestuudio” ning “Theo ja sõbrad”</li>
                    <li class="chapter bulletitem">otse-eetri palvesaade “Taevas kuuleb” ja "Suur palveõhtu“</li>
                    <li class="chapter bulletitem">muusikasaated “Muusikapaus” ja “Ülistusõhtu“</li>
                  </ul>

                <div class="title">Ajalugu &amp; tänapäev</div>
                <div class="chapter">Taevas TV7 telekanal alustas esmakordselt saadete edastamist Eestis 15. detsembril aastal 2009. Eestikeelse kristliku telekanali sünnilugu on otseselt seotud Soomes tegutseva kanaliga Taivas TV7, mis sai alguse aastal 2003. Kanali tegevdirektor, endine kommunikatsiooninõunik Martti Ojares sai Jumala käest tugeva visiooni kristliku telekanali alustamisest. Kutse tuli ootamatult, kõigest mõni nädal peale pensionile jäämist pikaajaliselt tööpostilt tuntud meediakontsernis. Kuigi Marttil ja tema abikaasal Mirja Ojaresel polnud eriti midagi muud peale Jumala poolt antud visiooni ja usu Temasse, nad julgesid siiski võtta ususammu ja alustada esimese kristliku telekanaliga Soomes. Jumal on olnud ustav ja õnnistanud tööd.</div> 
                <div class="chapter">Tänaseks tegutseb TV7 Group meediamaja nime all viis telekanalit – soomekeelne Taivas TV7 ja noortele suunatud TV7 Plus, eestikeelne Taevas TV7, rootsikeelne Himlen TV7 &amp; venekeelne Nebesa TV7. Töötajaid on kokku ligi 100 ning tööd tehakse erinevates stuudiotes ja toimetustes Soomes, Eestis, Ukrainas ja Iisraelis.</div> 
            </div>

            <div id="localeRu" class="localeText">
                <div class="title">О нас</div>
                <div class="chapter">«Heaven TV7» − всемирный, независимый от политики, телеканал. Мы стремимся выступать в качестве платформы для объединения христиан различных конфессий так, чтобы они могли учиться друг у друга и вместе составляли единое тело Иисуса Христа (Матфея 22:36-40).</div>
                <div class="chapter">С самого начала в основании деятельности «Heaven TV7» стоит Слово Божие. Телеканал руководствуется исполнением заповеди Иисуса Христа о распространении Евангелия по всему миру (Матфея 28:16-20). Своей работой мы утверждаем, что смерть Иисуса на Кресте открыла путь к спасению (Ефесянам 2:17-18).</div> 
                <div class="chapter">В своей работе «Heaven TV7» основывается на христианской этике и морали (Исход 20:2-17).</div> 
            
                <div class="title">История Mартти и Мирьи Oярес</div>
                <div class="chapter">Слово приветствия от основателя и исполнительного директора Мартти Oяреса:</div> 
                <div class="chapter">«Хочу поделиться, как мы открыли христианский телеканал в Финляндии. Это видение Бог в 2003 году Бог дал мне и моей жене Мирье. Он хотел, чтобы мы открыли христианское телевидение и назвали его «Heaven TV7». На тот момент я только вышел на пенсию, оставив должность вице-президента «Sanoma News Oy» – крупнейшей финского журнального издания. Президент Финляндии наградил меня почетным званием в области работы всей моей жизни – коммуникации и средств массовой информации. И все, чего я ожидал от будущего – это спокойный отдых на пенсии. Но у Бога был совершенно другой план. Моя грандиозная карьера была только началом Его великого проекта.</div> 
            
                <div class="title">«Taivas TV7» – центральный финский телеканал</div>
                <div class="chapter">Итак, 15 декабря 2003 года мы запустили первый христианский телеканал в Финляндии. В первые годы работы «Heaven TV7» единственное, что мы имели – это наше видение. У нас не было ни опыта работы в телевизионной сфере, ни достаточно финансов. Кроме того, мы находились в светском окружении, а государственная церковь все больше становилась либеральной.</div> 
                <div class="chapter">Тем не менее, мы сосредоточились на нашем видении, а не на проблемах. Нам нужно было полностью полагаться на Бога. Он учил и продолжает учить и показывать, каких высот мы можем достигнуть, если движемся верой. На сегодняшний день наши программы доступны в каждом финском доме через кабельное телевидение или интернет.</div> 
            
                <div class="title">«Taevas TV7» – эстонский телеканал</div>
                <div class="chapter">В 2009 году мы начали транслировать передачи также и в Эстонии. Сегодня команда «Taevas TV7» насчитывает 10 человек.</div> 
            
                <div class="title">Студия в Израиле</div>
                <div class="chapter">В 2008 году мы построили студию в Иерусалиме, которая производит семь передач. Через них мы хотим распространять правдивую информацию об Израиле, тем самым благословляя еврейский народ.</div> 
            
                <div class="title">«Himlen TV7» – шведский телеканал</div>
                <div class="chapter">В апреле 2013 года открылся шведский телеканал «Himlen TV7». Его центральной идеей стало достижение шведского и фино-шведского населения через библейские передачи, интервью, программы об Израиле, а также детский и молодежный контент».</div> 
            
                <div class="title">«Небеса ТВ7» – телеканал на русском языке</div>
                <div class="chapter">Открытие «Небеса ТВ7» стало следующим долгожданным шагом в развитии всей сети «Heaven TV7». Генеральный директор Мартти Оярес уже давно размышлял о создании телеканала на русском языке. Однако, как и перед открытием каждого предыдущего канала, он ждал знак и откровение от Бога, когда именно наступит лучшее время для нового начала.</div> 
                <div class="chapter">«В одной из наших с Мирьей поездок в Санкт-Петербург Бог четко подтвердил, что открытие русскоязычного телеканала — это Его воля. Но, на тот момент, я все еще не знал, когда именно нужно начинать работу над этим проектом» — рассказывает Мартти.</div> 
                <div class="chapter">В сентябре 2015 года главный офис «Heaven TV7» посетила московская миссионерская группа, которая ежемесячно распространяет более миллиона экземпляров христианской литературы по всей России. Проводились переговоры с пастором русскоязычной церкви в Хельсинки, Андреем Хинконеном. Несмотря на различные встречи с русскоязычными христианами, Мартти все же не получал четкого слова от Бога о запуске работы телеканала.</div> 
                <div class="chapter">Но одним ноябрьским утром Мартти Оярес получил подтверждение: «Я помню, как по обычаю сел за компьютер, чтобы проверить электронную почту и решить некоторые банковские вопросы. В тот момент я почувствовал, что именно сегодня мы должны начать подготовку к открытию и запуску русскоязычного телеканала. Нам больше не нужно было ждать, и мое сердце переполненила уверенность в этом.</div> 
                <div class="chapter">Я сразу же рассказал эту новость Мирье, которая также переживала и молилась об этом шаге на протяжении всей осени. Мы пригласили на встречу Андрея Хинконена. Он согласился по возможности помогать каналу и с радостью порекомендовал нам Александра Бутенко как надежного человека на должность координатора нового русскоязычного телеканала — рассказывает Мартти. — С  ноября 2015 года мы начали подготовительную работу над новым русскоязычным телеканалом.</div> 
                <div class="chapter">Координирование работы нового телеканала взял на себя христианин с большым опытом в области создания видео- и аудиоматериала — Александр Бутенко. В апреле 2016 года менеджером «Небеса ТВ7» был назначен один из сыновей генерального директора Мартти Ояреса — Рами Оярес. Создание нового телеканала оказалось довольно кропотливым делом. Наиболее трудоемким процессом стал поиск качественного контента и заключение договоров с медиапартнерами.</div> 
                <div class="chapter">Ноябрь 2016 ознаменовался открытием студии перевода, дублирования и производства видео- и медиаконтента в Полтаве, Украина. А также было запущено вещание в сети Интернет.</div> 
                <div class="chapter">В 2017 основана студия видеопроизводства в Ванадзоре, Армения. А в 2018 открыт офис по работе с программным обеспечением и начато производство видеоконтента в Киеве, Украина.</div> 
                <div class="chapter">Несмотря на все трудности, с которыми сталкивается команда «Небеса ТВ7», и благодаря постоянным молитвам, работа продолжается. В создание и открытие телеканала «Небеса ТВ7» вложен большой труд, молитвы и посвящение многих людей.</div> 
                <div class="chapter">«Heaven TV7» развивается очень быстро. На данный момент канал транслирует около 60% программ собственного производства, а финансирование практически полностью осуществляется благодаря частным пожертвованиям.</div> 
                <div class="chapter">«Сейчас, более чем когда-либо, мир нуждается в христианских телеканалах, чтобы Евангелие распространялось до края земли. «Heaven TV7» нуждается в ваших молитвах и пожертвованиях, чтобы как можно лучше совершать труд, к которому призвал нас Бог.</div> 
                <div class="chapter">Вы можете это делать вместе с нами! Иисус сказал: «Пойдите ко всем народам и сделайте их Моими учениками». У вас есть уникальная возможность выполнить это Великое поручение и стать частью Божьей мечты.</div> 
                <div class="chapter">Ведь каждый христианин — миссионер на том месте, где находится.</div> 
                <div class="chapter">До встречи в эфире! Пусть Бог обильно благословит вас!</div> 
                <div class="chapter">С уважением, Мартти Оярес, основатель и генеральный директор «Heaven TV7».</div> 

            </div>

            <div id="localeSv" class="localeText">
                <div class="title">Om oss</div>
                <div class="chapter">Himlen TV7 är en kristen tv-kanal med bas i Uppsala som riktar sig till Sverige och Svenskfinland. Kanalen sänder 24/7 och erbjuder det största kristna Play-arkivet på svenska med tusentals program att se när du vill. Kanalen vill berätta om Jesus, utrusta Guds folk med Hans Ord och stärka banden till Israel genom nyheter och undervisning. Kanalen är öppen för alla och kan ses på www.himlentv7.se eller gratisappen ”Himlen TV7”, och är nu även tillgänglig på Smart-TV. I Finland finns den även på flera kabeltv-nätverk.</div> 
                <div class="chapter">Himlen TV7 grundades år 2013 och verkade först fem år i Helsingfors och flyttade till Uppsala 2018. Sverigechef är dr Daniela Persin.</div> 
                <div class="chapter">Kanalen är en del av Heaven TV7 Media med fem kanaler på fyra språk samt en egen redaktion i Jerusalem. Mediahuset grundades av Martti och Mirja Ojares år 2003. Huvudkontoret är i Helsingfors.</div> 
            
                <div class="title">Organisationen bakom Himlen TV7</div>
                <div class="chapter">Himlen TV7 drivs av föreningen Korset Stöd i Sverige. Den Finlandsregistrerade föreningen Ristin Tuki bidrar med innehåll och översättning.</div> 
                
                <div class="subtitle">Korsets stöd rf</div>
                <div class="chapter">Korsets stöd rf är en allmännyttig, ideell förening i Sverige. Föreningens vision är att sprida evangeliet bland de svenskspråkiga i Norden speciellt genom elektroniska media.</div> 
                <div class="chapter">Föreningen producerar tjänster för att upprätthålla Himlen TV7:s verksamhet och kan ta emot donationer för detta ändamål. Styrelseordförande är Martti Ojares (f.d. vice VD för Finlands största mediekoncern Sanoma Oy, har erhållit hederstiteln ”Kommunikationsråd” av Finlands president). Verkställande direktör är dr Daniela Persin.</div> 
            
                <div class="subtitle">Ristin Tuki ry (rf)</div>
                <div class="chapter">Ristin Tuki ry (rf) är en ideell registrerad förening med nationellt penninginsamlingstillstånd i Finland. Ristin Tuki samlar in pengar även för svenskspråkig kristen mediaverksamhet. Föreningen fungerar som innehållsproducent för Heaven TV7-kanalerna, därmed även för Himlen TV7. Styrelseordförande är Martti Ojares. Verksamhetsledare är Maarit Korhonen.</div> 
            </div>

            <div class="endImageContainer">
                <img id="endImage" class="endImage" src="assets/end.svg" alt="tv7"/>
            </div>
            
        </div>
    </div>
</div>
