.mainView {
    height: calc(100% - 90px);
	margin-left: 80px;
}

.channelInfoContentContainer {
    height: 100%;
	outline: none;
}

.channelInfoTextContainer {
	margin: 20px 20px 20px 10px;
	overflow-y: scroll;
	position: absolute;
}

.channelInfoBusyLoader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
	display: none;
}

.title {
	color: #0099CC;
	background-color: #eeeeee;
	font-size: 44px;
	padding: 6px 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.title:not(:first-child) {
	margin-top: 40px;
}

.subtitle {
	color: #0099CC;
	background-color: #eeeeee;
	font-size: 36px;
	padding: 4px 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.chapter {
	color: #444444;
	font-size: 34px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 20px;
}

.bulletitem {
	margin-top: 10px;
	margin-bottom: 0px;
}

.bulletlist .bulletitem:first-child {
	margin-top: -10px;
}

.localeText {
	display: none;
}

.channelInfoTextContainer::-webkit-scrollbar {
    display: none;
}
