<div id="mainView" class="mainView" [ngStyle]="{'height': mainViewHeight}">

    <div class="tvMainContentContainer mainContentAnimationFadeIn">

        <div id="tvMainBusyLoader" class="busyLoader tvmainBusyLoader">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
        </div>

        <div class="tvAndGuideContainer">
            <div id="tvContentItem" class="tvContentItem">
                <img id="contentImage" class="contentImage" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />

                <div class="playButtonContainer">
                    <div id="playButton" class="playButton" tabindex="0">
                        <img id="playIcon" class="playIcon" src="assets/play.svg" alt=""/>
                    </div>
                </div>

                <div id="descText" class="descText"></div>
                <div id="statusBarContainer" class="statusBarContainer">
                    <div id="statusBar" class="statusBar"></div>
                </div>
            </div>

            <div id="guideContainer" class="guideContainer">
                <div class="guideHeader">
                    <div>
                        <div id="dateElem" class="guideRowDateCol"></div>
                    </div>
                    <div class="upDownIconContainer">
                        <img id="upDownIcon" class="upDownIcon" src="assets/arrow_up_down.png" alt="" tabindex="0"/>
                    </div>
                </div>

                <div id="guideRowsContainer" class="guideRowsContainer">

                    <div class="guideRow">
                        <div id="time1" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol1" class="guideTableNameDescCol">
                            <span id="nameTitle1" class="guideTableName guideTableText"></span>
                            <span id="nameDesc1" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time2" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol2" class="guideTableNameDescCol">
                            <span id="nameTitle2" class="guideTableName guideTableText"></span>
                            <span id="nameDesc2" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time3" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol3" class="guideTableNameDescCol">
                            <span id="nameTitle3" class="guideTableName guideTableText"></span>
                            <span id="nameDesc3" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time4" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol4" class="guideTableNameDescCol">
                            <span id="nameTitle4" class="guideTableName guideTableText"></span>
                            <span id="nameDesc4" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time5" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol5" class="guideTableNameDescCol">
                            <span id="nameTitle5" class="guideTableName guideTableText"></span>
                            <span id="nameDesc5" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time6" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol6" class="guideTableNameDescCol">
                            <span id="nameTitle6" class="guideTableName guideTableText"></span>
                            <span id="nameDesc6" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time7" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol7" class="guideTableNameDescCol">
                            <span id="nameTitle7" class="guideTableName guideTableText"></span>
                            <span id="nameDesc7" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time8" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol8" class="guideTableNameDescCol">
                            <span id="nameTitle8" class="guideTableName guideTableText"></span>
                            <span id="nameDesc8" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time9" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol9" class="guideTableNameDescCol">
                            <span id="nameTitle9" class="guideTableName guideTableText"></span>
                            <span id="nameDesc9" class="guideTableText"></span>
                        </div>
                    </div>

                    <div class="guideRow">
                        <div id="time10" class="guideTableTimeCol guideTableText"></div>
                        <div id="nameDescCol10" class="guideTableNameDescCol">
                            <span id="nameTitle10" class="guideTableName guideTableText"></span>
                            <span id="nameDesc10" class="guideTableText"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div id="watchtv_2_1" class="nextProgramsContentItem">
            <div id="nextProgramsText" class="nextProgramsText"></div>
            <div class="nextProgramsRow">
                <div class="imageAndDescription">
                    <img id="nextProgramsImg11" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc11" class="nextProgramsDesc"></div>
                </div>
                <div class="imageAndDescription">
                    <img id="nextProgramsImg12" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc12" class="nextProgramsDesc"></div>
                </div>
                <div class="imageAndDescription">
                    <img id="nextProgramsImg13" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc13" class="nextProgramsDesc"></div>
                </div> 
                <div class="imageAndDescription">
                    <img id="nextProgramsImg14" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc14" class="nextProgramsDesc"></div>
                </div>  
                <div class="imageAndDescription">
                    <img id="nextProgramsImg15" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc15" class="nextProgramsDesc"></div>
                </div>  
            </div>

            <div class="nextProgramsRow">
                <div class="imageAndDescription">
                    <img id="nextProgramsImg21" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc21" class="nextProgramsDesc"></div>
                </div>
                <div class="imageAndDescription">
                    <img id="nextProgramsImg22" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc22" class="nextProgramsDesc"></div>
                </div>
                <div class="imageAndDescription">
                    <img id="nextProgramsImg23" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc23" class="nextProgramsDesc"></div>
                </div>
                <div class="imageAndDescription">
                    <img id="nextProgramsImg24" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc24" class="nextProgramsDesc"></div>
                </div>  
                <div class="imageAndDescription">
                    <img id="nextProgramsImg25" class="nextProgramsImg" src="assets/tv7logo.png" onerror="if (this.src != 'assets/tv7logo.png') this.src='assets/tv7logo.png';" alt="" />
                    <div id="nextProgramsDesc25" class="nextProgramsDesc"></div>
                </div>  
            </div>
        </div>

    </div>
</div>
