<div id="tvPlayerContainer" class="tvPlayerContainer">
    <app-connecting *ngIf="connecting"></app-connecting>
    
    <div id="tvPlayerBusyLoader" class="busyLoader tvPlayerBusyLoader" *ngIf="waiting">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="programDetails" class="tpProgramDetails">
        <div class="programDetailsLeftIcon">
            <img class="leftArrorIcon" src="assets/arrow_left.svg" alt=""/>
        </div>
        <div class="programDetailsContent">
            <div>
                <div class="tpNameTimeContainer">
                    <div id="programName" class="tpProgramName"></div>
                    <div id="dateTime" class="tpDateTime"></div>
                </div>

                <div id="programDescription" class="tpProgramDescription"></div>

                <div id="statusBarContainer" class="tpStatusBarContainer">
                    <div id="statusBar" class="tpStatusBar"></div>
                </div>
                <div id="comingProgramsText" class="tpComingProgramsText"></div>
            </div>
        </div>
        <div class="programDetailsRightIcon">
            <img class="rightArrorIcon" src="assets/arrow_right.svg" alt=""/>
        </div>
    </div>

    <div id="videoPlayerContainer" class="tpVideoPlayerContainer"></div>
</div>
