<div id="tvPlayerContainer" class="tvPlayerContainer">
    <div id="tvPlayerBusyLoader" class="busyLoader tvPlayerBusyLoader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="programDetails" class="programDetails">
        <div class="programDetailsLeftIcon">
            <img class="leftArrorIcon" src="assets/arrow_left.svg" alt=""/>
        </div>
        <div class="programDetailsContent">
            <div>
                <div class="nameTimeContainer">
                    <div id="programName" class="programName"></div>
                    <div id="dateTime" class="dateTime"></div>
                </div>

                <div id="programDescription" class="programDescription"></div>

                <div id="statusBarContainer" class="statusBarContainer">
                    <div id="statusBar" class="statusBar"></div>
                </div>
                <div id="comingProgramsText" class="comingProgramsText"></div>
            </div>
        </div>
        <div class="programDetailsRightIcon">
            <img class="rightArrorIcon" src="assets/arrow_right.svg" alt=""/>
        </div>
    </div>

    <div class="videoPlayerContainer">
        <video id="videoPlayer" class="video-js" #target playsinline></video>
    </div>
</div>
