<div id="exitModal" class="exitModal">
    <div class="modalBackground exitModalAnimationFadeIn"></div>
    <div class="modalContentArea exitModalContentAnimationFadeIn">
        <div class="modalTextAndButtons">
            <div id="modalQuestionText" class="modalQuestionText"></div>
            <div class="modalButtons">
                <div id="exitYesButton" class="okButton" tabindex="0"></div>
                <div id="exitCancelButton" class="cancelButton" tabindex="0"></div>
            </div>
        </div>
    </div>
</div>
