<div class="archivePlayerContainer" [ngStyle]="{'height': windowHeight + 'px'}">
    <div id="archivePlayerBusyLoader" class="busyLoader archivePlayerBusyLoader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="controls" class="apControls">
        <div id="gradient" class="apGradient"></div>

        <div class="apInfoArea">
            <div id="nameDesc" class="apNameDesc"></div>
            <div id="caption" class="apCaption"></div>
            <div id="episodeNumber" class="apEpisodeNumber"></div>
        </div>

        <div id="durationCurrentTime" class="apDurationCurrentTime"></div>

        <div id="statusBarContainer" class="apStatusBarContainer">
            <div id="statusBar" class="apStatusBar"></div>
        </div>
    </div>

    <div id="playIconContainer" class="apPlayPauseIconContainer">
        <img id="playPauseIcon" class="apPlayPauseIcon" src="assets/play.svg" alt="" />
    </div>

    <div id="pauseIconContainer" class="apPlayPauseIconContainer">
        <img id="playPauseIcon" class="apPlayPauseIcon" src="assets/pause.svg" alt="" />
    </div>

    <div class="apVideoPlayerContainer">
        <video id="videoPlayer" class="video-js" #target playsinline></video>
    </div>
</div>
