<div id="mainView" class="mainView">
    <div id="archiveMainContentContainer" class="archiveMainContentContainer mainContentAnimationFadeIn">
        <div id="commonBusyLoader" class="busyLoader commonBusyLoader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div id="contentRows" class="contentRows">

            <div id="recommendedProgramsText" class="recommendedProgramsText"></div>
            <div id="recommendedProgramsContainer" class="rowContainer">
                <div id="recommendedBusyLoader" class="busyLoader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div id="recommendedPrograms" class="recommendedPrograms" [ngStyle]="{'width': recommendedRowWidth + 'px'}">
                    <div id="0_{{i}}" *ngFor="let r of recommended; let i = index" class="programItem recommendedItem" [ngStyle]="{'min-width': programRowItemWidth + 'px'}" tabindex="0">
                        <div class="programDate">{{r.broadcast_date_time}}</div>
                        <div class="programTime">{{r.duration_time}}</div>
                        <img class="programImg" [ngStyle]="{'width': programRowItemWidth + 'px', 'height': programRowItemHeight + 'px'}" src="{{r.image_path}}" alt="" />
                        <div class="programDesc">{{r.name_desc}}</div>
                    </div>
                </div>
            </div>

            <div id="mostViewedProgramsText" class="mostViewedProgramsText"></div>
            <div id="mostViewedProgramsContainer" class="rowContainer">
                <div id="mostViewedBusyLoader" class="busyLoader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div id="mostViewedPrograms" class="mostViewedPrograms" [ngStyle]="{'width': mostViewedRowWidth + 'px'}">
                    <div id="1_{{i}}" *ngFor="let m of mostViewed; let i = index" class="programItem mostViewedItem" [ngStyle]="{'min-width': programRowItemWidth + 'px'}" tabindex="0">
                        <div class="programDate">{{m.broadcast_date_time}}</div>
                        <div class="programTime">{{m.duration_time}}</div>
                        <img class="programImg" [ngStyle]="{'width': programRowItemWidth + 'px', 'height': programRowItemHeight + 'px'}" src="{{m.image_path}}" alt="" />
                        <div class="programDesc">{{m.name_desc}}</div>
                    </div>
                </div>
            </div>

            <div id="newestProgramsText" class="newestProgramsText"></div>
            <div id="newestProgramsContainer" class="rowContainer">
                <div id="newestBusyLoader" class="busyLoader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div id="newestPrograms" class="newestPrograms" [ngStyle]="{'width': newestRowWidth + 'px'}">
                    <div id="2_{{i}}" *ngFor="let n of newest; let i = index" class="programItem newestItem" [ngStyle]="{'min-width': programRowItemWidth + 'px'}" tabindex="0">
                        <div class="programDate">{{n.broadcast_date_time}}</div>
                        <div class="programTime">{{n.duration_time}}</div>
                        <img class="programImg" [ngStyle]="{'width': programRowItemWidth + 'px', 'height': programRowItemHeight + 'px'}" src="{{n.image_path}}" alt="" />
                        <div class="programDesc">{{n.name_desc}}</div>
                    </div>
                </div>
            </div>

            <div id="categoriesText" class="categoriesText"></div>
            <div id="categoriesContainer" class="rowContainer categoriesContainer">
                <div id="categoriesBusyLoader" class="busyLoader categoriesBusyLoader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div id="categories" class="categories categoriesAnimationFadeIn" *ngIf="categoriesVisible" [ngStyle]="{'width': categoriesRowWidth + 'px'}">
                    <div id="3_{{i}}" *ngFor="let c of categories; let i = index" class="categoriesItem" tabindex="0">
                        <div>
                            <img id="categoryImage" class="categoryImage" [src]="categoryImage" alt=""/>
                            <div class="categoryNameText" *ngIf="c.parent_id" [ngStyle]="{'width': categoriesRowItemWidth + 'px'}">{{c.category_name}}</div>
                            <div class="categoryNameText" *ngIf="!c.parent_id" [ngStyle]="{'width': categoriesRowItemWidth + 'px'}">{{c.name}}</div>
                        </div>
                    </div>
        
                    <div id="3_{{getCategoriesCount()}}" *ngIf="subCategoriesVisible" class="categoriesBackItem" tabindex="0">
                        <div class="categoriesIconText">
                            <div class="backIconContainer">
                                <img class="backIcon" src="assets/arrow_back.svg" alt=""/>
                            </div>
                            <div id="categoryBackText" class="categoryBackText" [ngStyle]="{'height': categoriesRowItemHeight + 'px', 'line-height': categoriesRowItemHeight + 'px'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
